<%- include('partials/header') %>
<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">All Secrets</h1>
        <p class="secret-text">Here are the secrets shared by others:</p>
        <hr>
        <% if (secrets && secrets.length > 0) { %>
            <ul class="list-group">
                <% secrets.forEach(secret => { %>
                    <li class="list-group-item"><%= secret.content %></li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No secrets have been shared yet.</p>
        <% } %>
        <br>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit Another Secret</a>
    </div>
</div>
<%- include('partials/footer') %>